---
layout: default
---

<div class="documentation">
<header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    {% if page.github.is_project_page %}
    <a href="{{ page.github.repository_url }}" class="linkbutton">
      <img src="/assets/images/docs/jwkstools/github-mark-white.png" />
      <span>View on Github</span>
    </a>
    {% endif %}
    {%if page.nuget.show_nuget %}
    <a href="{{ page.nuget.nuget_url }}" class="linkbutton">
      <img src="/assets/images/docs/jwkstools/nuget.png" />
      <span>View on NuGet</span>
    </a>
    {% endif %}
    {% if page.show_downloads %}
      <a href="{{ page.github.zip_url }}" class="linkbutton">
        <div class="material-icons">folder</div>
        <span>Download .zip</span>
      </a>
    {% endif %}
  </header>
  <main id="content" class="main-content" role="main">
    {{ content }}
  </main>
</div>